<!DOCTYPE html>
<html>

<head>
  <title>Nav page</title>
  <link href="style.css" rel="stylesheet" type="text/css" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <style>
    body{
      overflow-y: scroll;
      height: 100vh;
    }
    .card-img {
      height: 250px;
      width: 250px;
      object-fit: cover;
      padding-bottom: 20px;
    }

    .card {
      width: 250px;
      height: 250px;
      overflow: hidden;
    }

  </style>
</head>

<body>
  <nav class="navbar navbar-expand-sm navbar-light bg-light">
    <a class="navbar-brand" href="#">Jeopardy</a>
    <div class="flex-grow-1">
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control col-8" type="text" placeholder="Search by name">
        <button class="btn btn-outline-dark col-4" type="submit">Search</button>
      </form>
    </div>
  </nav>

  <h3 class="text-center">Choose a game</h3>
  <div class="container mb-5">
    <div class="row mt-5">
      <div class="col-md-4">
        <div class="card">
          <a href="prep.html">
            <img class="card-img" src="https://i.ibb.co/JC5bjfM/BB8.webp" alt="game picture" />
          </a>
          <div class="card-body">
            <h5 class="card-title">Star Wars trivia</h5>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <a href="prep.html">
            <img class="card-img" src="https://i.ibb.co/9shL0Lh/duck.jpg" alt="game picture" />
          </a>
          <div class="card-body">
            <h5 class="card-title">Duck Game</h5>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <img class="card-img" src="https://i.ibb.co/cwmN5DM/marvel.png" alt="game picture" />
          <div class="card-body">
            <h5 class="card-title">Marvel Quiz</h5>
          </div>
        </div>
      </div>
    </div>

    <div class="row mt-5">
      <div class="col-md-4">
        <div class="card">
          <img class="card-img" src="https://i.ibb.co/JC5bjfM/BB8.webp" alt="game picture" />
          <div class="card-body">
            <h5 class="card-title">Star Wars trivia</h5>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <img class="card-img" src="https://i.ibb.co/9shL0Lh/duck.jpg" alt="game picture" />
          <div class="card-body">
            <h5 class="card-title">Duck Game</h5>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <img class="card-img" src="https://i.ibb.co/cwmN5DM/marvel.png" alt="game picture" />
          <div class="card-body">
            <h5 class="card-title">Marvel Quiz</h5>
          </div>
        </div>
      </div>
    </div>

    <div class="row mt-5">
      <div class="col-md-4">
        <div class="card">
          <img class="card-img" src="https://i.ibb.co/JC5bjfM/BB8.webp" alt="game picture" />
          <div class="card-body">
            <h5 class="card-title">Star Wars trivia</h5>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <img class="card-img" src="https://i.ibb.co/9shL0Lh/duck.jpg" alt="game picture" />
          <div class="card-body">
            <h5 class="card-title">Duck Game</h5>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <img class="card-img" src="https://i.ibb.co/cwmN5DM/marvel.png" alt="game picture" />
          <div class="card-body">
            <h5 class="card-title">Marvel Quiz</h5>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
    integrity="sha384-bH5Z2RTtBLTlSSSEAtUD8l7/pxOJednPA2M0eHCOh5td8SyXuZsJSotW8E+86A" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
</body>

</html>